## 导入包

In [11]:
import numpy as np 
# from multiprocessing import shared_memory
from sklearn.datasets import load_boston
import pandas as pd

## 生成一个数据框

In [12]:

def load_toydata():
    tempdata = load_boston()['data']
    featurename = load_boston()['feature_names']
    data = pd.DataFrame(tempdata)
    data.columns = featurename
    return data
toy_data = load_toydata()
toy_data.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03

In [13]:
# 将数据映射到内存里面
from ShareData import ShareDataFrame
sharedf = ShareDataFrame()
sharedf.df2memory(data=toy_data)

clumnname: CRIM, shm_name: psm_35bafe53
clumnname: ZN, shm_name: psm_b741280a
clumnname: INDUS, shm_name: psm_bacfb04e
clumnname: CHAS, shm_name: psm_c35cdf0a
clumnname: NOX, shm_name: psm_87353e6e
clumnname: RM, shm_name: psm_204101ea
clumnname: AGE, shm_name: psm_34304110
clumnname: DIS, shm_name: psm_c9acdbbf
clumnname: RAD, shm_name: psm_7143774f
clumnname: TAX, shm_name: psm_887dc317
clumnname: PTRATIO, shm_name: psm_d6b09157
clumnname: B, shm_name: psm_17bf3266
clumnname: LSTAT, shm_name: psm_564a6027

In [10]:
getdata2 = sharedf.memory2df()
getdata2

[['CRIM', 'psm_892f8012'], ['ZN', 'psm_327c74d8'], ['INDUS', 'psm_e705a618'], ['CHAS', 'psm_54bc5507'], ['NOX', 'psm_0af3c459'], ['RM', 'psm_08a8ef19'], ['AGE', 'psm_8c3adc77'], ['DIS', 'psm_5d634e73'], ['RAD', 'psm_770935c9'], ['TAX', 'psm_8668a22a'], ['PTRATIO', 'psm_36343c5a'], ['B', 'psm_ac551a23'], ['LSTAT', 'psm_750c50ff']]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [5]:
# sharedf.close_read()

In [7]:
sharedf.close_write()